fastapi>=0.100.0
uvicorn>=0.20.0
joblib>=1.0
python-dotenv>=1.0
supabase>=2.0
python-jose[cryptography]
PyJWT>=2.0
pydantic>=2.0
python-multipart>=0.0.6
pymupdf
scikit-learn
pandas
bcrypt
passlib
email-validator
shap
xgboost
imbalanced-learn
matplotlib
numba
llvmlite
